<article id="<%= post.layout %>-<%= post.slug %>" class="article article--type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article__inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article__header">
        <%- partial('post/title', {class_name: 'article__title'}) %>
      </header>
      <div class="article__meta">
        <%- partial('post/edit', {class_name: 'article__meta-edit'}) %>
        <%- partial('post/date', {class_name: 'article__meta-date', index: false, date_format: 'MMM M, YYYY'}) %>
      </div>
    <% } %>
    <div class="article__entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article__more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
        <br>
        <p>--EOF--</p>
        <p>
          <small>于 
            <%- partial('post/date', {class_name: 'article__meta-date', index: false, date_format: 'MMM M, YYYY HH:mm:ss'}) %> 发表
            <% if (post.categories && post.categories.length){ %>
              于「
              <%- partial('post/category', {class_name: 'article__meta-category', index: false}) %>
              」分类下
            <% } %>
            <% if (post.tags && post.tags.length){ %>
            ，并被添加标签「
            <%- partial('post/tag', {class_name: 'article_meta-tag', index: false}) %>
            」
            <% } %>
            <% var d = (new Date(post.date)).getTime(), u = (new Date(post.updated)).getTime() %>
            <% if(d<u) { %> 
              ，更新于
              <%- partial('post/updated', {class_name: 'article__meta-updated', index: false, date_format: 'MMM M, YYYY HH:mm:ss'}) %>
            <% } %>。
          </small>
      <% } %>
    </div>
  </div>
  <% if (!index && post.comments && config.disqus_shortname){ %>
    <section id="comments">
      <h1 class="title" href="<%- post.permalink %>#disqus_thread">Comments</h1>
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
  <% } %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<%- partial('comments') %>
